.nodetree {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  left: 0px;
  top: 0px;
  opacity: 0.8;
}

.processDesign {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #282a2ab5;
  padding: 40px 0;
  border-radius: 6px;
  color: #fff;
}

.nodetree .close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.processDesign .process {
  display: inline;
  text-align: center;
  width: 100%;
}
.processDesign .childNodeItem {
  width: 140px;
  border: 1px solid #ddd;
}
.processDesign .rootNode {
  width: 140px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid blue;
  transform: translateX(0%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.processDesign .rootNode img{
  position:absolute;
  width:100%;
  height:100%
}
.processDesign .rootNode p{
  position:absolute;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.processDesign .nodewrap {
  display: inline-block;
}

.processDesign .nodeType {
  padding: 0 20px;
  width: 100px;
  left: 50%;
  position: relative;
  transform: translate(-50%);
}
.processDesign .nodeType::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  border-left: 1px solid blue;
  width: 0;
  height: 20px;
}
.processDesign .nodeport {
  padding-top: 20px;
  position: relative;
  webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
}
.processDesign .nodeport::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid blue;
  width: 0;
  height: 20px;
}
.processDesign .nodeInfo {
  height: 100px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.processDesign .nodeInfo img{
  position:absolute;
  width:98px;
  height:100px
}
.processDesign .nodeInfo p{
  position: relative;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.processDesign .nodeItem {
  float: left;
  list-style: none;
  text-align: center;
  position: relative;
  padding: 20px 5px 0 5px;
  width: 100%;
}
.processDesign .nodeItem:first-child::before, .processDesign .nodeItem:last-child::after {
  border: 0 none;
}
.processDesign .nodeItem:after {
  right: auto;
  left: 50%;
  border-left: 1px solid blue;
}
.processDesign .nodeItem::before, .processDesign .nodeItem::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 20px;
  border-top: 1px solid blue;
}

.processDesign .nodeItems:first-child {
  margin: 0;
  transform: translateX(-50%);
  position: relative;
}
.processDesign .nodeItems:first-child:after {
  position: absolute;
  content: '';
  right: 0;
  width: 50%;
  top: 0;
  height: 2px;
  background: #4c6cf5;
}
.processDesign .nodeItems:last-child {
  margin: 0;
  transform: translateX(50%);
  position: relative;
}
.processDesign .nodeItems:last-child:after {
  position: absolute;
  content: '';
  left: 0;
  width: 50%;
  top: 0;
  height: 2px;
  background: #4c6cf5;
}
